<!DOCTYPE html>
<!-- file:///home/max/Projects/smartrasp-tpu/index.html -->
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>SmartRaspTPU - умное расписание ТПУ</title>
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- JQuery -->
  {% load static %}
  <script type="text/javascript" src="{% static 'meetingScreen/jquery-3.6.0.js' %}"></script>
  <script type="text/javascript" src="{% static 'meetingScreen/my_script.js' %}?rand={{ random_int }}"></script>
  <!-- Slides -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <!-- Site stylesheet -->
  <link rel="stylesheet" type="text/css" href="{% static 'meetingScreen/style.css'%}?rand={{ random_int }}">
</head>
<body>
  <div>
    <div class="container align-items-center">
      <h1 class="greetings">Привет! Я - умное расписание ТПУ.<br>Я помогу составить <strong>твоё</strong> расписание и проще ориентироваться в учебном процессе.</h1>
      <h2>Какое расписание тебе нужно?</h2>
      <!--cards-->
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="card text-center rounded-corners">
            <div class="card-body">
              <h5 class="card-title">Для студентов</h5>
              <p class="card-text">Расписание учебной группы</p>
              <form action="{% url 'meetingScreen:new_student' %}" method="post">
              {% csrf_token %}
                {{ form }}
              <div class="row justify-content-md-center">
              <div class="col-lg-8 col-md-12 group-choice">
                <select class="js-example-basic-single" id="mySelect2" name="group">
                  {% for group in groups_list %}
                  <option>{{group.name}}</option>
                  {% endfor %}
                </select>
              </div>
              </div>
              <button type="submit" class="btn btn-primary rounded-corners">Открыть расписание</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="card text-center rounded-corners">
            <div class="card-body">
              <h5 class="card-title">Для преподавателей</h5>
              <p class="card-text">Расписание по имени преподавателя</p>
              <form action="{% url 'meetingScreen:new_teacher' %}" method="post">
              {% csrf_token %}
              <div class="row justify-content-md-center">
              <div class="col-lg-8 col-md-12 group-choice">
                <select class="js-example-basic-single" id="mySelect3" name="teacher">
                {% for teacher in teachers_list %}
                <option>{{teacher.full_name}}</option>
                {% endfor %}
                </select>
              </div>
              </div>
              <button type="submit" class="btn btn-primary rounded-corners">Открыть расписание</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="card text-center rounded-corners h-100">
            <div class="card-body">
              <h5 class="card-title">Я уже заходил на сайт ранее</h5>
              <p class="card-text">И хочу перенести своё расписание с другого устройства</p>
              <form action="{% url 'meetingScreen:login' %}" method="post">
              {% csrf_token %}
              Логин: <input type="" name="rasp_id" class="rasp-id"><br>
              Пароль: <input type="password" name="password" class="rasp-id"><br>
              <button type="submit" class="btn btn-primary rounded-corners">Открыть расписание</button>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</body>
</html>