<!DOCTYPE html>
<!-- file:///home/max/Projects/smartrasp-tpu/table.html -->
<html>
<head>
  <meta charset="utf-8">
  <title>SmartRaspTPU - умное расписание ТПУ</title>
  {% load static %}
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Site stylesheet -->
  <link rel="stylesheet" type="text/css" href="{% static 'meetingScreen/style.css' %}?rand={{random_int}}">
</head>
<body>
  <div class="container align-items-center">
    <div class="row table-view-header">
      <div class="col-4 user-dropdown">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle rounded-corners" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Пользователь: {{request.user.username}}
          </button>
          <ul class="dropdown-menu rounded-corners-light" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{% url 'meetingScreen:settings_page'%}">Настройки</a></li>
            <li><a class="dropdown-item" href="{% url 'meetingScreen:logout' %}">Выйти</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 d-none d-lg-block group-name">Настройки</div>
      <div class="col-lg-4 col-sm-12 col-md-8 group-name text-center text-md-end"><a href="{% url 'meetingScreen:table_cur_week' %}">Расписание</a></div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-lg-4 col-md-12">
        <div class="card text-center rounded-corners h-100">
          <div class="card-body">
            <h3>Сменить пароль</h3>
            <form action="{% url 'meetingScreen:change_password_action' %}" method="post">
              {% csrf_token %}
              {{ form }}
              <h5>Старый пароль</h5>
              <input type="password" class="rasp-id" name="old_password">
              <h5><br/>Новый пароль</h5>
              <input type="password" class="rasp-id" name="new_password"><br/>
              <button type="submit" class="btn btn-primary rounded-corners">Сменить пароль</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>