<!DOCTYPE html>
<!-- file:///home/max/Projects/smartrasp-tpu/table.html -->
<html>
<head>
  <meta charset="utf-8">
  <title>SmartRaspTPU - умное расписание ТПУ</title>
  {% load static %}
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- calendar -->
  <link rel="stylesheet" href="{% static 'meetingScreen/simple-calendar.css' %}">
  <script type="text/javascript" src="{% static 'meetingScreen/jquery-3.6.0.js' %}"></script>
  <script src="{% static 'meetingScreen/jquery.simple-calendar.js' %}"></script>
  <!-- Slides -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <!-- javascript -->
  <script src="{% static 'meetingScreen/myCalendarScript.js' %}?rand={{random_int}}"></script>
  <script src="{% static 'meetingScreen/table_script.js' %}"></script>
  <!-- Site stylesheet -->
  <link rel="stylesheet" type="text/css" href="{% static 'meetingScreen/style.css' %}?rand={{random_int}}">
</head>
<body>
  <div class="container align-items-center">
    <div class="row table-view-header">
      <div class="col-md-4 user-dropdown">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle rounded-corners" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Пользователь: {{profile.id}}
          </button>
          <ul class="dropdown-menu rounded-corners-light" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{% url 'meetingScreen:settings_page'%}">Настройки</a></li>
            <li><a class="dropdown-item" href="{% url 'meetingScreen:logout' %}">Выйти</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 group-name">Расписание группы {{profile.main_group}}</div>
      <div class="col-md-4"></div>
    </div>
    <div class="row table-header align-items-center">
          <div class="col-md-4"><a href="{% url 'meetingScreen:table' week_number %}" class="btn btn-primary rounded-corners">Предыдущая неделя</a></div>
          <div class="col-md-4">
            <div class="dropdown">
              Неделя {{week_number|add:'1'}}
              <button class="calendar-button rounded-corners text-center" type="button" id="dropdownMenyButton2"  data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
              <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
              </svg>
              </button>
              <div class="dropdown-menu p-2 rounded-corners" style="max-width: 400px;" aria-labelledby="dropdownMenyButton2">
                <div id="calendar_container" class="calendar_container">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4"><a href="{% url 'meetingScreen:table' week_number|add:'2' %}" class="btn btn-primary rounded-corners">Следующая неделя</a></div>
    </div>
    <!-- Schedule table -->
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Время</th>
          {% for day, day_date in week_days_and_dates %}
          <th scope="col" class="week-day">{{day_date}}<br>{{day}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
          {% for time, common, shadow in filtered_week_lessons_with_time %}
          <tr>
            <th scope="row">{{ time |safe }}</th>
            {% for lessons in common %}
              <td>
                <div class="dropdown">
                  {% for lesson in lessons %}
                  <span class="lesson">
                  <span class="lesson-name">{{lesson.subject.full_name}}</span>
                  </span>
                  <br/>
                  <b class="lesson-teacher">{{ lesson.teacher.full_name }}<br/></b>
                  (<b class="lesson-type">{{ lesson.type }}</b>)
                  <br/>
                  <button class="filter-button rounded-corners text-center">
                    <a href="#filter_lesson_select" class="filter-button">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
                      </svg>
                    </a>
                  </button><hr>
                  {% endfor %}
                </div>
              </td>
            {% endfor %}
          </tr>
          {% endfor %}
      </tbody>
    </table>
    <!-- FILTERS -->
    <hr>
    <div class="row">
      <h1>Добавить фильтр предметов</h1>
      <div class="col-md-4 col-sm-12">
        <div class="card text-center rounded-corners">
          <div class="card-body">
            <h5 class="card-title">По названию предмета</h5>
            <p class="card-text">Все пары по этому предмету будут скрыты</p>
            <form action="{% url 'meetingScreen:new_filter' %}" method="post">
              {% csrf_token %}
              {{ form }}
              <input type="hidden" name="next" value="{{ request.path }}">
              <select class="js-example-basic-single" id="filter_lesson_select" name="subject">

              </select>
              <br>
              <button type="submit" class="btn btn-primary rounded-corners">Добавить фильтр</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="card text-center rounded-corners">
          <div class="card-body">
            <h5 class="card-title">На день недели</h5>
            <p class="card-text">В разработке...</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="card text-center rounded-corners">
          <div class="card-body">
            <h5 class="card-title">На конкретную дату</h5>
            <p class="card-text">В разработке...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>