:root {
    --main-bg-color: #202124;
    --shadow-color: #171717;
    --main-text-color: #bdc1c6;
    --secondary-text-color: #969ba1;
    --highlight-color: #8AB4F8;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

.test-color {
    background-color: red;
}

/* index.html style */

.greetings {
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
}

.rounded-corners {
    border-radius: 20px;
}

.rounded-corners-light {
    border-radius: 10px;
}

.card {
    margin-top: 30px;
    padding-top: 30px;
    height: 300px;
    background-color: var(--main-bg-color);
    border-color: var(--highlight-color);
    box-shadow: 1px 1px 15px 0px var(--shadow-color);
}

h2 {
    text-align: center;
}

.btn {
    margin-top: 30px;
    background-color: var(--main-bg-color);
    border-color: var(--highlight-color);
    box-shadow: 1px 1px 5px 0px var(--shadow-color);
}

.btn:hover {
    background-color: var(--main-bg-color);
    color: var(--highlight-color);
}

.group-choice {
}

.js-example-basic-single {
    width: 80%;
}

.select2-search input {
    background-color: var(--main-bg-color);
    border-color: var(--highlight-color);
    box-shadow: 1px 1px 15px 0px var(--shadow-color);
}

.select2-search {
    background-color: var(--main-bg-color);
    border-color: var(--highlight-color);
    box-shadow: 1px 1px 15px 0px var(--shadow-color);
}

.select2-results {
    background-color: var(--main-bg-color);
    border-color: var(--highlight-color);
    box-shadow: 1px 1px 15px 0px var(--shadow-color);
}

.rasp-id {
    background-color: var(--main-bg-color);
    border: 1px solid #aaa;
    border-radius: 4px;
    text-align: center;
    box-shadow: 1px 1px 15px 0px var(--shadow-color);
    color: var(--main-text-color);
}

.select2-search input {
    color: var(--main-text-color);
}


.select2-container--default .select2-results__option--selected {
    background-color: var(--main-bg-color);
    /*
    border-color: var(--highlight-color);
    border-width: 1px;
    border-style: solid;
     */
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: rgba(255, 255, 255, 0.1);
}
/*
.select2-results__option select2-results__option--selectable select2-results__option--selected {

}
*/
/* table.html style */

.group-name {
    text-align: center;
    font-size: 30px;
}

.group-name.right {
    text-align: right;
}

.group-name a {
    color: var(--main-text-color);
    text-decoration: none;
    transition: 300ms;
    border-bottom: 1px solid transparent;
}

.group-name a:hover {
    color: var(--secondary-text-color);
    border-color: var(--highlight-color);
}

.user-dropdown {
    text-align: left;
}

.user-dropdown .btn {
    color: var(--main-text-color);
    margin-top: 0px;
    border: none;
    box-shadow: none;
}

.dropdown-menu {
    box-shadow: 1px 1px 15px 0px var(--shadow-color);
    background-color: var(--main-bg-color);
    border-color: var(--highlight-color);
}

.dropdown-item {
    color: var(--main-text-color);
}

.dropdown-item:hover {
    color: var(--main-text-color);
    background-color: rgba(255, 255, 255, 0.1);
}

.calendar-button, .filter-button {
    background-color: var(--main-bg-color);
    box-shadow: none;
    border: none;
    color: var(--main-text-color);
    transition: color 0.2s;
}

.calendar-button:hover {
    color: var(--highlight-color);
}

.calendar-button:active {
    color: var(--highlight-color);
}

.calendar_container {
    margin-bottom: -30px;
    margin-top: 5px;
}

.day {
    color: var(--main-text-color);
}

.calendar {
    color: var(--main-text-color);
}

.calendar .day.wrong-month {
    color: var(--secondary-text-color);
}

.calendar header .simple-calendar-btn {
    color: var(--main-text-color);
    border-color: var(--main-text-color);
}

.calendar header .simple-calendar-btn:hover {
    background-color: var(--main-bg-color);
    color: var(--highlight-color);
    border-color: var(--highlight-color);
}

.even {
    color: red;
}

.odd {
    color: blue;
}

.user-dropdown .btn:hover {
    box-shadow: 1px 1px 15px 0px var(--shadow-color);
}

.table {
    color: var(--main-text-color);
    border: 1px solid #aaa;
    box-shadow: 1px 1px 15px 0px var(--shadow-color);
    margin-top: 30px;
}

.second-time {
    color: var(--secondary-text-color);
}

th, td {
    text-align: center;
    vertical-align: middle;
}

.week-day {
    width: 16.6%;
}

.table-header {
    text-align: center;
    margin-top: 10px;
}

.table-view-header {
    margin-top: 10px;
}